@media (max-width: 1150px) {

    // HEADER

    .container {
        max-width: 100%;
    }

    .header {
        flex-direction: column;

        &_link {
            padding: 20px 0;
        }
    }

    .navigation_list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }


    .icons_list {
        margin-bottom: 20px;
    }

    // HERO

    .hero .flex {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .hero_article {
        display: flex;
        flex-direction: column;
        .read_more__btn {
            align-self: center;
        }
    }
}

@media (max-width: 1115px) {
    .grey_section .flex {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .welcome_img {
        max-width: 508px;
        max-height: 376px;
    }

    .service .flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .service .service_list__item {
        height: 100%;
    }

}

@media (max-width: 624px) {
    .info {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 575px) {
    .hero .hero_text {
        width: 100%;
    }

    .hero_img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 540px) {
    .grey_section .welcome_article {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .welcome_img {
        width: 100%;
        height: 100%;
    }
}