* {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1F2E35CC;
}

h1, h2, h3, p, a, button {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.34;
}

.flex {
    display: flex;
    justify-content: space-between;
}
/* HEADER */

header {
    background-color: white;
    border-bottom: 3px solid lightgray;
}

.header_img, .arrow_img {
    padding: 0;
    margin: 0;
}

.container {
    width: 1125px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_list {
    display: flex;
    gap: 50px;
}

.header_link {
    display: block;
    padding: 40px 0;
}

.icons_list {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* HERO */

.hero {
    padding: 124px 0;
}

.main_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.34;
    color: #1F2E35;
}

.hero_text {
    width: 545px;
    margin-bottom: 24px;
    line-height: 1.45;
}

.read_more__btn {
    color: white;
    background-color: #EE4248;
    width: 160px;
    height: 52px;
    border: none;
    border-radius: 6px;
}

/* WELCOME SECTION */

.grey_section {
    background-color: #F6F6F6;
    padding: 60px 0;
}


.title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.34;
    color: #1F2E35;
}

.red_text {
    color: #EE4248;
}

.welcome_article {
    width: 520px;
}


.welcome_text {
    line-height: 1.50;
}

.welcome_article p:first-of-type {
    margin-bottom: 24px;
}

/* PRODUCT AND SERVICE ARTICLE */

.service {
    padding-top: 116px;
    padding-bottom: 60px;
}

h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.34;
}

.service .title {
    margin-bottom: 17px;
    text-align: center;
}

.service_list__item {
    width: 360px;
    height: 384px;
    padding: 24px;
}

.service p {
    line-height: 1.50;
    margin-bottom: 15px;
}

.service h3 {
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    padding-top: 50px;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 47px;
    margin-bottom: 24px;
}

.location, .contacts {
    line-height: 1.49;
}

strong {
    display: block;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
}

.contacts_item {
    display: block;
}

address {
    font-style: normal;
}

.bold {
    font-weight: 600;
}

.red_line {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #EE4248;
}

.white_text {
    color: white;
}
