* {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1F2E35CC;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    padding: 51px 0;
}


h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 134%;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid lightgray;
}

.container {
    width: 1125px;
    padding: 0 20px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_list {
    display: flex;
    gap: 50px;
}

.header_link {
    display: block;
    padding-top: 40px; 
    padding-bottom: 40px;
}

.icons_list {
    display: flex;
    gap: 24px;
}

/* HERO */

.hero {
    display: flex;
    padding-top: 190px;
    margin-bottom: 100px;
}

.main_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 134%;
    color: #1F2E35;
}

.hero_text {
    width: 545px;
    margin-bottom: 24px;
    line-height: 145%;
}

.read_more__btn {
    color: white;
    background-color: #EE4248;
    width: 160px;
    height: 52px;
    border: none;
    border-radius: 6px;
}

/* WELCOME SECTION */

.grey_section {
    background-color: #F6F6F6;
}

.welcome {
    display: flex;
    justify-content: space-between;
    gap: 82px;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 134%;
    color: #1F2E35;
}

.red_text {
    color: #EE4248;
}

.welcome_article {
    width: 520px;
}


.welcome_text {
    line-height: 150%;
}

/* PRODUCT AND SERVICE ARTICLE */

.service_list {
    display: flex;
}

h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 134%;
}

.service h2 {
    text-align: center;
    padding-bottom: 17px;
}

.service_list__item {
    width: 350px;
    padding: 20px 20px;
}

.service p {
    line-height: 150%;
}

/* FOOTER */

.info {
    display: flex;
    gap: 47px;
    padding-top: 87px;
}

.bold {
    font-weight: 600;
}

address {
    font-style: normal;
}

h4 {
    margin-bottom: 15px;
    font-size: 24px;
}

.footer_line {
    width: 100%;
    padding: 10px 0; 
    text-align: center;
    color: white;
    background-color: #EE4248;
}

.info_item {
    padding-bottom: 5px;
}