h2 {
    @include font(32px, 1.34, 500);
}

h3 {
    @include font(28px, 1.34, 500);
}

.main_title {
    @include font(48px, 1.34, 700);
    color: #1F2E35;
}

.title {
    @include font(32px, 1.34, 600);
    margin-bottom: 24px;
    color: #1F2E35;
}