h1, h2, h3, p, a, button {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

* {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1F2E35CC;
}

