.hero {
    padding: 124px 0;

    &_text {
        width: 545px;
        margin-bottom: 24px;
        line-height: 1.45;
    }
}

.main_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.34;
    color: #1F2E35;
}