.service {
    padding-top: 116px;
    padding-bottom: 60px;

    &_list__item {
        width: 360px;
        height: 384px;
        padding: 24px;
    }

    & .title {
        margin-bottom: 17px;
        text-align: center;
    }

    & p {
        line-height: 1.50;
        margin-bottom: 15px;
    }

    & h3 {
        margin-bottom: 15px;
    }
}

